/*
import a font from folder src/assets/fonts
*/
@font-face {
  font-family: 'BheltVol02-Regular';
  src: url('./assets/BheltVol02-Regular.ttf');
}

.main {
  background-color: #ffffff;
  height: auto;
  min-width: 100%;
  border-radius: 21px;
  padding: 30px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;

}

p.titlehead {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  color: #5E5CA5;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

html {
  background: #ECEDFB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: #ECEDFB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#chartdiv {
  width: 100%;
  height: 580px;
  margin: auto;
}

#chartdivtwo {
  width: 60%;
  height: 300px;
  margin: auto;
}

#chartdivtwoss {
  width: 80%;
  height: 300px;
  margin: auto;
}


#chartdiv {
  z-index: 1;
}

#otherChart {
  width: 100%;
  height: 400px;
  margin: auto;
}

div#infoselect {
  text-align: start;
}

.d-flex {
  display: flex;
}

select.select.candy {
  color: #C56E9B;
  border: none;
  height: 40px;
  font-weight: 100;
  font-family: 'BheltVol02-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  text-align: center;
}

option.plataforma {
  color: #E58253;
}

option.seguidores {
  color: #5E5CA5;
}

option.meta {
  color: #C56E9B;
}

select.select.candy.plataforma.form-select {
  color: #E58253;
  font-size: 14px;
}

select.select.candy.seguidores.form-select {
  color: #5E5CA5;
  font-size: 14px;
}


select.select.candy.meta.form-select {
  color: #C56E9B;
}


.meta {
  color: #C56E9B;
}

.focus-only:focus {
  outline: 2px solid black;
}

.focus-visible-only:focus-visible {
  outline: 4px dashed darkorange;
}

.ordersection {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titlecandidate {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-transform: uppercase;
  color: #121212;
}

.col-md-6 {
  text-align: start;
}

/**/

.candydata {
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  background-position: center;
  border-radius: 100%;
  opacity: 0.6;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1rem;
  border: 1xp solid red;
}

.justify-content-center.col span {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  font-family: 'Nunito Sans Bold', sans-serif;
}

.justify-content-center.active-text.col span{
  font-family: 'Nunito Sans Bold', sans-serif;
  font-weight: 700;
}

.chila {
  display: grid;
  font-size: 14px;
}

.chila span {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.selectcontainer.row {
  justify-content: space-between;
  background-color: white;
  min-height: 75px;
  align-items: center;
}

.justify-content-center.d-flex.col-md-1 span {
  color: white;
  font-size: 7px;
}

div#itemca {
  text-align: start;
}


.justify-content-center.d-flex.md.col span {
  color: white;
  align-items: center;
  padding-top: 20px;
  padding-left: 11px;
  font-size: 7px;
  color: #5E5CA5;
  font-weight: 900;
}

.is-active {
  opacity: 1;
  background: linear-gradient(180deg, #625EA8 0%, #C27688 40.1%, #FFD277 77.08%, #FFDD55 100%);
  border: 1px solid #F3F3F3;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.nodata img {
  height: 267px;
  width: 300px;
}

.nodata.row {
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
}

.modal-body {
  text-align: center;
}

span.clickeed {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-decoration-line: underline;
  color: #5E5CA5;
  cursor: pointer;
}

.separador {
  border-top: 1px solid #E8E8E8;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.formSendData.row {
  text-align: start;
}

.modal-footer {
  justify-content: center !important;
}


button.btn.btn-primary {
  font-family: 'Nunito Sans', sans-serif;
  height: 49px;
  left: 649px;
  top: 869px;
  background: linear-gradient(89.94deg, #FFB022 3.11%, #C56E9B 102.3%, rgba(217, 217, 217, 0) 102.3%, #C5709A 102.3%);
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

button.regBtn.btn.btn-primary {
  background: #FFFFFF;
  border: 1px solid #5E5CA5;
  border-radius: 5px;
  color: #5E5CA5;
}

.mt-4.modal-footer {
  border: none;
}

.form-check.form-switch {
  display: table;
}

p.titlecandidate {
  text-align: center;
}

.justify-content-center.col {
  text-align: center;
}

.candydata img {
  height: 75px;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
}

.justify-content-center.col {
  text-align: center;
  display: grid;
}

.rowswitch.row {
  text-align: -webkit-center;
  margin-top: 3rem;
  margin-bottom: 0.1rem;
}

.chila li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.justify-content-center.active-text.col span {
  font-family: 'Nunito Sans Bold', sans-serif;
  opacity: 1;
  color: #5E5CA5;
}

select.select.candy.form-select:focus-visible:focus-visible {
  outline: none;
}

div#listfilter p {
  margin: 0;
  padding: 0;
  padding-right: 15px;
}

div#listfilter {
  text-align: center;
  align-items: center;
}

.is-active-li {
  opacity: 1;
  color: white;
}

.bkandwhite {
  filter: grayscale(100%);
}

.colorfull {
  filter: grayscale(0%);
}

.redeslist.row .col {
  cursor: pointer;
}

.redeslist.row .col:hover {
  filter: grayscale(0%);
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  transform: scale(1.1);
}

p.seleccionarred {
  border: none;
  height: 40px;
  font-weight: 900;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #5E5CA5;
  text-align: center;
}

.justify-content-center.col .candydata:hover {
  cursor: pointer;
  opacity: 1;
  /* border: 2px solid rgba(94, 92, 165, 0.6); */
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  background: linear-gradient(180deg, #625EA8 0%, #C27688 40.1%, #FFD277 77.08%, #FFDD55 100%);
}

.justify-content-center.col .candydata {
  border: 1px solid #d3d3d3;
}

.names {
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}

.names.santi {
  background-color: #fd7358;
}

.names.efra {
  background-color: #966AA7;
}

.names.chila {
  background-color: #FF6F91;
}

.names.eucli {
  background-color: #FF9671;
}

.names.payo {
  background-color: #FFC75F;
}

tspan {
  font-size: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  select.select.candy.meta.form-select {
    font-size: 11px;
  }

  p.titlehead {
    font-size: 14px;
  }

  p.titlecandidate {
    font-size: 14px;
  }

  .candydata {
    height: 60px;
    width: 60px;
  }

  .candydata img {
    height: 60px;
  }

  label.form-check-label {
    font-size: 10px;
  }

  div#chartdivtwoss {
    transform: scale(0.8);
  }

  select.select.candy.plataforma.form-select {
    font-size: 11px;
  }

  select.select.candy.seguidores.form-select {
    font-size: 11px;
  }

  button.mt-5.btn.btn-primary {
    font-size: 11px;
  }

  .main.container {
    padding: 20px;
  }

  .justify-content-center.chila.col span {
    font-size: 10px;
  }

  .justify-content-center.santi.col span {
    font-size: 10px;
  }

  .justify-content-center.eucli.col span {
    font-size: 10px;
  }

  .justify-content-center.payo.col span {
    font-size: 10px;
  }

  .justify-content-center.efra.col span {
    font-size: 10px;
  }

  option.plataforma {
    color: #E58253;
    font-size: 10px;
  }

  option.seguidores {
    color: #5E5CA5;
    font-size: 10px;
  }

  option.meta {
    color: #C56E9B;
    font-size: 10px;
  }

  select.select.candy.plataforma.form-select {
    color: #E58253;
    font-size: 10px;
  }

  select.select.candy.seguidores.form-select {
    color: #5E5CA5;
    font-size: 10px;
  }


  select.select.candy.meta.form-select {
    color: #C56E9B;
    font-size: 10px;
  }

  .justify-content-center.active-text.col span {
    font-size: 10px;
  }

}

button.mt-5.btn.btn-primary:hover {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
  transform: scale(1.1);
}

.MuiBox-root.css-1l9ohcm {
  text-align: center;
}

.MuiDialogActions-root.MuiDialogActions-spacing.css-hlj6pa-MuiDialogActions-root {
  justify-content: center;
  border-top: 1px solid rgb(211, 211, 211);
}

button.btnnn.btn.btn-primary {
  background: #FFFFFF;
  border: 1px solid #5E5CA5;
  border-radius: 5px;
  color: #5E5CA5;
  margin-left: 15px;
}


.MuiDialogActions-root.MuiDialogActions-spacing.emete.css-hlj6pa-MuiDialogActions-root {
  margin-top: 2rem;
}

.successmsg {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.MuiDialogActions-root.MuiDialogActions-spacing.emete.css-14b29qc {
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

.MuiDialogActions-root.MuiDialogActions-spacing.emete.css-14b29qc {
  text-align: center !important;
  justify-content: center !important;
  margin-top: 40px !important;
  border-top: 1px solid #efe5e5 !important;
}

.MuiDialogActions-root.MuiDialogActions-spacing.emete.css-14b29qc {
  display: revert !important;
  margin-top: 2rem !important;
  border-top: 1px solid #efe5e5 !important;
  margin-top: 40px !important;
}

.css-14b29qc {
  text-align: center !important;
  justify-content: center !important;
  margin-top: 40px !important;
  border-top: 1px solid #efe5e5 !important;
}

.col-md-5 select.select.candy.plataforma.form-select {
  border: 1px solid #e1e1e1;
}

.row p.titlehead {
  padding-bottom: 10px;
}

select.select.candy.seguidores.form-select {
  border: 1px solid #5e5ca533;
}

select.select.candy.meta.form-select{
  border: 1px solid #c56e9b33;
  font-size: 14px;
}