/*
import a font from folder src/assets/fonts
*/
@font-face {
  font-family: 'BheltVol02-Regular';
  src: url('./assets/BheltVol02-Regular.ttf');
}

.main {
  /* background-color: #ffffff; */
  height: auto;
  min-width: 100%;
  border-radius: 21px;
  padding: 30px;
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05); */
  border-radius: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p.titlehead {
  font-family: 'Nunito Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  color: #5E5CA5;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

html * {
  /* background: #ECEDFB; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans' !important;
  font-family: Nunito;
}

/*  */

body {
  font-family: 'Nunito Sans';
  /* background: #ECEDFB; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans' !important;
}


#chartdiv {
  width: 100%;
  height: 580px;
  margin: auto;
}

#chartdivtwo {
  width: 60%;
  height: 300px;
  margin: auto;
}

#chartdivtwoss {
  height: 450px;
}


#chartdiv {
  z-index: 1;
}

#otherChart {
  width: 100%;
  height: 400px;
  margin: auto;
}

div#infoselect {
  text-align: start;
}

.d-flex {
  display: flex;
}

select.select.candy {
  color: #C56E9B;
  border: none;
  height: 40px;
  font-weight: 100;
  font-family: 'BheltVol02-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  text-align: center;
}

option.plataforma {
  color: #E58253;
}

option.seguidores {
  color: #5E5CA5;
}

option.meta {
  color: #C56E9B;
}

select.select.candy.plataforma.form-select {
  color: #E58253;
  font-size: 14px;
}

select.select.candy.seguidores.form-select {
  color: #5E5CA5;
  font-size: 14px;
}


select.select.candy.meta.form-select {
  color: #C56E9B;
}


.meta {
  color: #C56E9B;
}

.focus-only:focus {
  outline: 2px solid black;
}

.focus-visible-only:focus-visible {
  outline: 4px dashed darkorange;
}

.ordersection {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titlecandidate {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  text-transform: uppercase;
  color: #5458a2;
}

.col-md-6 {
  text-align: start;
}

/**/

.candydata {
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  background-position: center;
  border-radius: 100%;
  opacity: 0.6;
  font-family: 'Nunito Sans' !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1rem;
  border: 1xp solid red;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.justify-content-center.active-text.cont.col div#efrain {
  border: 3px solid #9669A9;
  background-color: #9669A9;
}

.justify-content-center.active-text.cont.col div#chila {
  border: 3px solid #B67294;
  background-color: #B67294;
}

.justify-content-center.active-text.cont.col div#euclides {
  border: 3px solid #F6A72F;
  background-color: #F6A72F;
}


.justify-content-center.active-text.cont.col div#payo {
  border: 3px solid #F18B3A;
  background-color: #F18B3A;
}

.justify-content-center.col span {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  font-family: 'Nunito Sans' !important;
  font-weight: 900;
  color: #5458a2;
}

div#listfilter p.pr-5 {
  font-weight: 900;
  font-size: 13px !important;
  color: #5458a2;
}

.justify-content-center.active-text.col span {
  font-family: 'Nunito Sans' !important;
  font-weight: 700;
}

.chila {
  display: grid;
  font-size: 14px;
  font-family: 'Nunito Sans' !important;
}

.chila span {
  font-family: 'Nunito Sans' !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.selectcontainer.row {
  justify-content: space-between;
  /* background-color: white; */
  min-height: 75px;
  align-items: center;
}

.col-md-5 select.select.candy.seguidores.form-select {
  background: transparent;
  -webkit-appearance: auto;
}

select.select.candy.meta.form-select {
  background: transparent;
  -webkit-appearance: auto;
}

.justify-content-center.d-flex.col-md-1 span {
  color: white;
  font-size: 7px;
}

div#itemca {
  text-align: start;
}

.MuiFormControl-root.css-1nrlq1o-MuiFormControl-root {
  width: 100%;
  font-family: 'Nunito Sans' !important;
  font-weight: 900;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  width: 100%;
  font-family: 'Nunito Sans' !important;
  font-weight: 900;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  font-family: 'Nunito Sans' !important;
  font-weight: 900;
}


li#seguidores {
  color: #5E5CA5;
  font-family: 'Nunito Sans' !important;
  font-weight: 900;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li#meta {
  color: #C56E9B;
  font-family: 'Nunito Sans' !important;
  font-weight: 900;
  justify-content: center;
}

li#paltaforma {
  color: #E58253;
  font-family: 'Nunito Sans' !important;
  font-weight: 900;
  justify-content: center;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.select.candy.meta.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  color: #C56E9B;
  justify-content: center;
}

.select-menu {
  justify-content: center;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.select.candy.seguidores.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  color: #5E5CA5;
  justify-content: center;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.select.candy.plataforma.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  color: #E58253;
  justify-content: center;
}


.justify-content-center.d-flex.md.col span {
  color: white;
  align-items: center;
  padding-top: 20px;
  padding-left: 11px;
  font-size: 7px;
  color: #5E5CA5;
  font-weight: 900;
}

.form-check.form-switch label.form-check-label {
  font-weight: 900;
  color: #5E5CA5;
}

tspan {
  color: #5E5CA5 !important;
}

g text tspan {
  color: #5E5CA5 !important;
  font-weight: 800;
  font-family: 'Nunito Sans' !important;
}

.justify-content-center.col .candydata.is-active {
  border: 3px solid #fbbc04;
  /* outline: 1px dotted black; */
  outline-offset: 5px;
  outline-width: 2px;
}

.is-active {
  border: 2px solid #fbbc04;
  opacity: 1;
  /* background: linear-gradient(180deg, #625EA8 0%, #C27688 40.1%, #FFD277 77.08%, #FFDD55 100%); */
  border: 1px solid #F3F3F3;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
}

.nodata img {
  height: 267px;
  width: 300px;
}

.nodata.row {
  text-align: center;
  justify-content: center;
  margin-top: 1rem;
}

.modal-body {
  text-align: center;
}

span.clickeed {
  font-family: 'Nunito Sans' !important;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  text-decoration-line: underline;
  color: #5E5CA5;
  cursor: pointer;
}

.separador {
  border-top: 1px solid #E8E8E8;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.formSendData.row {
  text-align: start;
}

.modal-footer {
  justify-content: center !important;
}


button.btn.btn-primary {
  font-family: 'Nunito Sans' !important;
  height: 49px;
  left: 649px;
  top: 869px;
  background: linear-gradient(89.94deg, #FFB022 3.11%, #C56E9B 102.3%, rgba(217, 217, 217, 0) 102.3%, #C5709A 102.3%);
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}

button.regBtn.btn.btn-primary {
  background: #FFFFFF;
  border: 1px solid #5E5CA5;
  border-radius: 5px;
  color: #5E5CA5;
}

.mt-4.modal-footer {
  border: none;
}

.form-check.form-switch {
  display: table;
}

p.titlecandidate {
  text-align: center;
}

.justify-content-center.col {
  text-align: center;
}

.candydata img {
  height: 75px;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
}

.justify-content-center.col {
  text-align: center;
  display: grid;
}

.rowswitch.row {
  text-align: -webkit-center;
  margin-top: 3rem;
  margin-bottom: 0.1rem;
}

.chila li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.justify-content-center.active-text.col span {
  font-family: 'Nunito Sans' !important;
  opacity: 1;
  color: #5458a2;
  font-weight: 900;
}

select.select.candy.form-select:focus-visible:focus-visible {
  outline: none;
}

div#listfilter p {
  margin: 0;
  padding: 0;
  padding-right: 15px;
}

div#listfilter {
  text-align: center;
  align-items: center;
}

.is-active-li {
  opacity: 1;
  color: white;
}

.bkandwhite {
  filter: grayscale(100%);
}

.colorfull {
  filter: grayscale(0%);
}

.redeslist.row .col {
  cursor: pointer;
}

.redeslist.row .col:hover {
  filter: grayscale(0%);
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  transform: scale(1.1);
}

p.seleccionarred {
  border: none;
  height: 40px;
  font-weight: 900;
  font-family: 'Nunito Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #5E5CA5;
  text-align: center;
}


.justify-content-center.col .candydata {
  border: 1px solid #d3d3d3;
}

.names {
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}

tspan {
  font-size: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  select.select.candy.meta.form-select {
    font-size: 11px;
  }

  p.titlehead {
    font-size: 14px;
  }

  p.titlecandidate {
    font-size: 14px;
  }

  .candydata {
    height: 60px;
    width: 60px;
  }

  .candydata img {
    height: 57px;
  }

  label.form-check-label {
    font-size: 10px;
  }

  div#chartdivtwoss {
    transform: scale(0.8);
  }

  select.select.candy.plataforma.form-select {
    font-size: 11px;
  }

  select.select.candy.seguidores.form-select {
    font-size: 11px;
  }

  button.mt-5.btn.btn-primary {
    font-size: 11px;
  }

  .main.container {
    padding: 20px;
  }

  .justify-content-center.chila.col span {
    font-size: 10px;
  }

  .justify-content-center.santi.col span {
    font-size: 10px;
  }

  .justify-content-center.eucli.col span {
    font-size: 10px;
  }

  .justify-content-center.payo.col span {
    font-size: 10px;
  }

  .justify-content-center.efra.col span {
    font-size: 10px;
  }

  option.plataforma {
    color: #E58253;
    font-size: 10px;
  }

  option.seguidores {
    color: #5E5CA5;
    font-size: 10px;
  }

  option.meta {
    color: #C56E9B;
    font-size: 10px;
  }

  select.select.candy.plataforma.form-select {
    color: #E58253;
    font-size: 10px;
  }

  select.select.candy.seguidores.form-select {
    color: #5E5CA5;
    font-size: 10px;
  }


  select.select.candy.meta.form-select {
    color: #C56E9B;
    font-size: 10px;
  }

  .justify-content-center.active-text.col span {
    font-size: 10px;
  }

  div#root {
    padding: 0.5rem;
    margin: 0.1rem;
  }

  .main.container {
    padding: 20px;
  }

  .tophead.row {
    margin-top: 10px;
  }


  div#chartdivtwoss {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
  }

  .main.container div#chartdivtwoss {
    padding: 0 !important;
    width: 100% !important;
    margin: 0 !important;
  }

  .container-fluid {
    margin: 0 !important;
    padding: 0;
  }

  .nodata.row img {
    width: 50%;
    height: 50%;
  }

  .main.container {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .MuiFormControl-root.MuiTextField-root.input.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 40% !important;
  }

  .MuiDialogActions-root.MuiDialogActions-spacing.emete.css-hlj6pa-MuiDialogActions-root {
    margin-top: 0.1rem
  }

  .textt {
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
  }

  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.css-1fyyp8j-MuiGrid-root {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  label.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root {
    text-align: center;
    justify-content: center;
  }

}

span.MuiTypography-root.MuiTypography-body1.MuiFormControlLabel-label.css-ahj2mt-MuiTypography-root {
  font-size: 12px;
}

button.mt-5.btn.btn-primary:hover {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
  transform: scale(1.1);
}

.MuiBox-root.css-1l9ohcm {
  text-align: center;
}

.MuiDialogActions-root.MuiDialogActions-spacing.css-hlj6pa-MuiDialogActions-root {
  justify-content: center;
  border-top: 1px solid rgb(211, 211, 211);
}

button.btnnn.btn.btn-primary {
  background: #FFFFFF;
  border: 1px solid #5E5CA5;
  border-radius: 5px;
  color: #5E5CA5;
  margin-left: 15px;
}


.MuiDialogActions-root.MuiDialogActions-spacing.emete.css-hlj6pa-MuiDialogActions-root {
  margin-top: 2rem;
}

.successmsg {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.MuiDialogActions-root.MuiDialogActions-spacing.emete.css-14b29qc {
  text-align: center;
  justify-content: center;
  margin-top: 15px;
}

.MuiDialogActions-root.MuiDialogActions-spacing.emete.css-14b29qc {
  text-align: center !important;
  justify-content: center !important;
  margin-top: 40px !important;
  border-top: 1px solid #efe5e5 !important;
}

.MuiDialogActions-root.MuiDialogActions-spacing.emete.css-14b29qc {
  display: revert !important;
  margin-top: 2rem !important;
  border-top: 1px solid #efe5e5 !important;
  margin-top: 40px !important;
}

.css-14b29qc {
  text-align: center !important;
  justify-content: center !important;
  margin-top: 40px !important;
  border-top: 1px solid #efe5e5 !important;
}

.col-md-5 select.select.candy.plataforma.form-select {
  border: 1px solid #e1e1e1;
}

.row p.titlehead {
  padding-bottom: 10px;
}

select.select.candy.seguidores.form-select {
  border: 1px solid #5e5ca533;
}

select.select.candy.meta.form-select {
  border: 1px solid #c56e9b33;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .main.container {
    /* background-color: red; */
  }

  div#root {
    padding: 0.5rem;
    margin: 0.1rem;
  }

  div#chartdivtwoss {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .nodata.row img {
    width: 50%;
    height: 50%;
  }

  .MuiFormControl-root.MuiTextField-root.input.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 40% !important;
  }

  .separador {
    border-top: 1px solid #E8E8E8;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
  }

  .MuiDialogActions-root.MuiDialogActions-spacing.emete.css-hlj6pa-MuiDialogActions-root {
    margin-top: 0.2rem
  }

  .textt {
    margin-top: 0.3rem !important;
    margin-bottom: 0.3rem !important;
  }

  .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.css-1fyyp8j-MuiGrid-root {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  label.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root {
    text-align: center;
    justify-content: center;
  }

}

.justify-content-center.col .candydata {
  border: 1px solid #d3d3d3;
  font-family: 'Nunito Sans' !important;
}

p.titlecandidate {
  font-family: 'BheltVol02-Regular' !important;
  font-weight: 100;
}

p.titlehead {
  font-family: 'BheltVol02-Regular' !important;
  font-weight: 100;
}

/* font-family: 'Nunito Sans';
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 22px;
text-transform: uppercase;
color: #121212; */

label.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementEnd.css-j204z7-MuiFormControlLabel-root {
  padding: 0;
  margin: 0;
}

span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.MuiRadio-root.MuiRadio-colorPrimary.css-vqmohf-MuiButtonBase-root-MuiRadio-root {
  margin: 0;
  padding: 2px;
}


select.select.candy.plataforma.form-select {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

select.select.candy.plataforma.form-select option.seguidores {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

select.select.candy.plataforma.form-select option.plataforma {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.select.candy.plataforma.css-fvipm8 {
  color: #e58253;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.Mui-focused.MuiInputBase-formControl.select.candy.seguidores.css-fvipm8 {
  color: #5E5CA5;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.select.candy.meta.css-fvipm8 {
  color: #c56e9b;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.Mui-focused.MuiInputBase-formControl.select.candy.meta.css-fvipm8 {
  color: #c56e9b;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.select.candy.meta.css-fvipm8 {
  color: #c56e9b;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
}

select.select.candy.plataforma.form-select option.meta {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

select.select.candy.meta.form-select {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

select.select.candy.seguidores.form-select {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

option.plataforma {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

option.seguidores {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

option.meta {
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}

.justify-content-center.active-text.cont.col div#chila {
  margin: auto;
  margin-bottom: 15px;
}

.justify-content-center.chila.cont.col div#chila {
  margin: auto;
  margin-bottom: 15px;
}

.main.bkpsc.container {
  background-color: #ECEDFB;
}

.col-md-5 select.select.candy.plataforma.form-select {
  text-align: center;
  align-items: center;
  align-self: end;
  padding: inherit;
}

body {
  background: transparent !important;
}

.main.container {
  background-color: transparent;
}

iframe {
  background-color: transparent !important;
}

select.select.candy.plataforma.form-select {
  border: 1px solid #e1e1e1;
}

.justify-content-center.active-text.cont.col div#santi {
  background: #DA7A67;
}

.justify-content-center.active-text.cont.coldiv#santi:hover {
  border: 1px solid #DA7A67;
}

.justify-content-center.active-text.cont.col div#santi {
  background: #DA7A67;
  border: 3px solid #DA7A67;
}


.justify-content-center.col .candydata:hover {
  border: 2px solid #DA7A67;
  cursor: pointer;
  opacity: 1;
  /* border: 2px solid rgba(94, 92, 165, 0.6); */
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  transition: all 0.4s ease;
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  /* background: linear-gradient(180deg, #625EA8 0%, #C27688 40.1%, #FFD277 77.08%, #FFDD55 100%); */
}

.names.santi {
  background-color: #DA7A67;
  color: white;
  color: white;
  font-family: 'Nunito Sans' !important;
  font-weight: 700;
}

.names.efra {
  background-color: #966AA7;
  color: white;
  font-family: 'Nunito Sans' !important;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.names.chila {
  background-color: #B67294;
  color: white;
  font-family: 'Nunito Sans' !important;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.names.eucli {
  background-color: #F6A72F;
  color: white;
  font-family: 'Nunito Sans' !important;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.names.payo {
  background-color: #F18B3A;
  color: white;
  font-family: 'Nunito Sans' !important;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.justify-content-center.payo.cont.col div#payo:hover {
  border: 3px solid #F18B3A;
}

.justify-content-center.efra.cont.col div#efrain:hover {
  border: 3px solid #966AA7;
}

.justify-content-center.chila.cont.col div#chila:hover {
  border: 3px solid #B67294;
}


.justify-content-center.santi.cont.col div#santi:hover {
  border: 3px solid #DA7A67;
}

.justify-content-center.eucli.cont.col div#euclides:hover {
  border: 3px solid #FFC75F;
}

.MuiBox-root.css-1l9ohcm {
  font-family: 'Nunito Sans' !important;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.Mui-focused.MuiInputBase-formControl.select.candy.seguidores.css-fvipm8 {
  background-color: #ECEDFB;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.select.candy.seguidores.css-fvipm8 {
  font-family: 'Nunito Sans' !important;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5E5CA5;
}

.MuiBox-root.css-1l9ohcm h4 {
  font-weight: 900;
  font-family: 'Nunito Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input#outlined-basic {
  font-weight: 700;
  font-family: 'Nunito Sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiBox-root.css-1l9ohcm {
  border: none;
  border-radius: 8px;
  box-shadow: none;
}

.MuiBox-root.css-1l9ohcm {
  color: #5E5CA5;
}

.textt p {
  margin: 0;
}

.textt {
  margin-bottom: 2rem;
}

span.css-hyxlzm {
  color: #5E5CA5;
}

.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-md-6.selectradiobutton.css-1fyyp8j-MuiGrid-root {
  text-align: start;
}

.MuiFormControl-root.MuiTextField-root.input.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 80%;
}

.selectradiobutton.col {
  text-align: start;
  margin: 0;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: #5E5CA5;
}

input#outlined-basic:focus-visible {
  border: 1px solid #5E5CA5;
  color: #5E5CA5;
}

input#outlined-basic:focus-within {
  border: 1px solid #5E5CA5;
  color: #5E5CA5;
}

input#outlined-basic:visited {
  border: 1px solid #5E5CA5;
  color: #5E5CA5;
}

input#outlined-basic:focus {
  border: 1px solid #5E5CA5;
  color: #5E5CA5;
}

input#outlined-basic:active {
  border: 1px solid #5E5CA5;
  color: #5E5CA5;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover {
  border: 1px solid #5E5CA5;
  color: #5E5CA5;
}

input#outlined-basic {
  color: #5E5CA5;
}

.MuiInput-root:focus-within .MuiInput-underline:before {
  border: 1px solid #5E5CA5;
  color: #5E5CA5;
}

.MuiAutocomplete-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 1px solid #5E5CA5;
  color: #5E5CA5;
  /* Cambiar color de borde aquí */
}